@{
    Layout = null;
}

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .buy-table .left {
        position: relative;
    }

    .buy-table .left span {
        position: absolute;
        right: 25px;
        bottom: 35px;
    }
</style>

<div class="user-buypage wrapper">
    <h1 class="header">Mua thêm trang</h1>
    <div class="buy-table">
        <div class="left">
            <h1 class="header">Chọn số trang</h1>
            <label for="page-number">Số trang</label>
            <input type="number" name="page-number" id="page-number" placeholder="Nhập số trang">
            <span>Đơn giá 500đ/trang</span>
        </div>
        <div class="right">
            <h1 class="header">Phương thức thanh toán</h1>
            <span style="font-size: 15px; font-weight: 500;">
                Thanh toán qua BKPay
            </span>
            <div class="choose-bank">
                <span style="font-weight: 500;">Chọn tài khoản thanh toán</span>
                <select id="account" name="account">
                    <option selected disabled>Tài khoản thanh toán</option>
                    <option value="acc-1" style="color: black">OCB - 0004100029187372 - 15.000đ</option>
                    <option value="acc-2" style="color: black">OCB - 098788273 - 1.238.000đ</option>
                </select>

                <div class="line"></div>
            </div>
            <div class="sum-page">
                <span>Tổng số tiền thanh toán:</span>
                <span class="sum"></span>
                <button onclick="resetSelect()" form="" class="pay">Thanh toán</button>
                <button onclick="resetSelect()" class="cancel">Hủy</button>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" id="view-buying-log">Xem lịch sử mua hàng</button>
    </div>
</div>
<div class="user-buying-log wrapper">
    <h1>Lịch sử giao dịch</h1>
    <div class="main">
        <div class="field">
            <p>Mã giao dịch</p>
            <p>Thời gian</p>
            <p>Số trang</p>
            <p>Tổng tiền</p>
        </div>
        <div class="result">
            @*<p class = "transaction-code">1GDS23</p>
            <p class = "time">10:42 - 1/11/2023</p>
            <p class = "nopage">20</p>
            <p class = "price">10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>

            <p>1GDS23</p>
            <p>10:42 - 1/11/2023</p>
            <p>20</p>
            <p>10.000đ</p>*@
        </div>
    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-content">
        <span style="
            font-weight: 600;
            color: #1488db;
            font-size: 16px;
            margin-bottom: 20px;
            margin-top: 10px;
          ">
            Thông báo
        </span>
        <span style="
            font-weight: 500;
            color: #000000;
            font-size: 16px;
            margin-bottom: 20px;
          ">
            Thanh toán thành công
        </span>
        <button id="btn-done" style="width: 56px; height: 29px">
            Xong
        </button>
    </div>
</div>