@{
    Layout = null;
}

<div class="user-noti wrapper">
  <h1 class="header">Thông báo</h1>
  <div class="log-table">
    <div class="item title">
      <p class="notification">Nội dung thông báo</p>
      <p class="time">Thời gian</p>
    </div>
    @*<div class="item log-item wait">
      <p class="notification">Bạn đã nạp thành công combo Bạch Kim (500 + 80 trang) - Phí 250.000đ</p>
      <p class="time">10:42 - 1/11/2023 (0 phút trước)</p>
    </div>
    <div class="item log-item wait">
      <p class="notification">“Lab_7_Wireshark_802.11_v8.0.pdf” đã được in xong (H6 - 107)</p>
      <p class="time">10:40 - 1/11/2023 (2 phút trước)</p>
    </div>
    <div class="item log-item">
      <p class="notification">“DSA231_Assignment_1” đã được in xong (H6 - 107)</p>
      <p class="time">9:24 - 31/10/2023 (1 ngày trước)</p>
    </div>
    <div class="item log-item">
      <p class="notification">“Lab_4b_Wireshark_DHCP_v8.0” đã được in xong (H3 - 101)</p>
      <p class="time">8:23 - 30/10/2023 (2 ngày trước)</p>
    </div>
    <div class="item log-item">
      <p class="notification">“Van kien Dai hoi XIII tap 1” đã được in xong (H6 - 107)</p>
      <p class="time">7:12 - 30/10/2023 (2 ngày trước)</p>
    </div>
    <div class="item log-item">
      <p class="notification">“2021_MT_KHM_CNPM” đã được in xong (H3 - 101)</p>
      <p class="time">8:13 - 28/10/2023 (4 ngày trước)</p>
    </div>
    <div class="item log-item">
      <p class="notification">“C.Mác và Ăngghen toàn tập (tập 33)” đã được in xong (H6 - 107)</p>
      <p class="time">9:41 - 26/10/2023 (6 ngày trước)</p>
    </div>
  </div>*@
  <div style="text-align: right;">
    <button class="mark-done" id="mark-done">Đánh dấu tất cả là đã đọc</button>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".log-table").height(10 * $(".item").height() + 80 + "px");
  });
  $(document).ready(function () {
  //   $('.btn.notification').css('background-color', '#9d9d9d7d');

    var done = document.getElementsByClassName('log-item');
    var mark_done = document.getElementById("mark-done")
    for (var i = 0; i < done.length; i++) {
      done[i].style.color = '#191c1e99';
    }

    var wait = document.getElementsByClassName('wait');
    for (var i = 0; i < wait.length; i++) {
      wait[i].style.color = 'black';
    }

    mark_done.onclick = function () {
      for (var i = 0; i < wait.length; i++) {
        wait[i].style.color = '#191c1e99';
      }
    }

     function showNotificationItem(detail,time) {
        $.get("components/notification.html", function (data) {
            $(".log-table").append(data);
            var item = $(".log-table .log-item:last-child()");
            item.find(".notification").text(detail);
            item.find("time").text(time);
        }
        );
    }

    function displayNotification(userID) {
        $.get("Notification/ShowNotification", { "userID": userID },
            function (response) {
                for (let i = 0; i < response.number; i++) {
                    showNotificationItem(response.detail[i], response.time[i]);
                }
            }
        )
    }
    var urlParams = new URLSearchParams(window.location.search);
    var id = urlParams.get('id');
    alert(id.toString());
    displayNotification(id);
  });

 
</script>