@{
    Layout = null;
}

<div class="user-noti wrapper">
  <h1 class="header">Thông báo</h1>
  <div class="log-table">
    <div class="item title">
      <p class="notification">Nội dung thông báo</p>
      <p class="time">Thời gian</p>
    </div>
  </div>
  <div style="text-align: right;" id="mark-done-wrapper">
      <button class="mark-done" id="mark-done">Đánh dấu tất cả là đã đọc</button>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".log-table").height(10 * $(".item").height() + 80 + "px");
  });
  $(document).ready(function () {
  //   $('.btn.notification').css('background-color', '#9d9d9d7d');

    var done = document.getElementsByClassName('log-item');
    var mark_done = document.getElementById("mark-done")
    for (var i = 0; i < done.length; i++) {
      done[i].style.color = '#191c1e99';
    }

    var wait = document.getElementsByClassName('wait');
    for (var i = 0; i < wait.length; i++) {
      wait[i].style.color = 'black';
    }

    mark_done.onclick = function () {
      for (var i = 0; i < wait.length; i++) {
        wait[i].style.color = '#191c1e99';
      }
    }

     function showNotificationItem(detail,time) {
        $.get("components/notification.html", function (data) {
            $(".log-table").append(data);
            var item = $(".log-table .log-item:last-child()");
            item.find(".notification").text(detail);
            item.find(".time").text(time);
        }
        );
    }

    function displayNotification(userID) {
        $.get("Notification/ShowNotification", { "userID": userID },
            function (response) {
                for (let i = 0; i < response.number; i++) {
                    showNotificationItem(response.detail[i], response.time[i]);
                }
            }
        )
    }
    var urlParams = new URLSearchParams(window.location.search);
    var id = urlParams.get('id');
    displayNotification(id);
  });

 
</script>