body {
  text-align: justify;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 77px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
}

.nav .left p {
  margin-block: 5px;
}

.spss {
  color: #676c70;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}

.title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.nav .right a,
.nav .right div {
  margin: auto 30px;
}

.nav .right .logout {
  color: #001aa0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  cursor: pointer;
  -webkit-transform: scaleZ(1);
  transform: scaleZ(1);
  -webkit-transition: all 0.5 ease-in;
  -o-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
}

.nav .right .logout:hover {
  -webkit-transform: scaleZ(1.05);
  transform: scaleZ(1.05);
  -webkit-transition: all 0.5 ease-in-outout;
  -o-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.nav .right .login {
  color: #001aa0;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  cursor: pointer;
  -webkit-transform: scaleZ(1);
  transform: scaleZ(1);
  -webkit-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.nav .right .login:hover {
  -webkit-transform: scaleZ(1.05);
  transform: scaleZ(1.05);
  -webkit-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.nav .right div {
  cursor: pointer;
}

.nav .right .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  & i {
    position: relative;
    left: -3px;
    top: -1px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 14px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
}

.footer .left,
.footer .middle,
.footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 20px;
}

.footer .left header,
.footer .middle header,
.footer .right header {
  margin-bottom: 20px;
}

.footer .left .infoBK,
.footer .left .infoTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer .middle > div,
.footer .right > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 10px;
}

.footer .middle > div i,
.footer .right > div i {
  font-size: 22px;
  margin-right: 10px;
}
