@{
    Layout = null;
}

<div class="content action">
  <div class="print-log wrapper">
    <h1 class="header">Lịch sử in ấn</h1>
    <div class="log-table">
      <div class="item title">
        <p class="name">Tên tài liệu</p>
        <p class="start-time">Thời gian in</p>
        <p class="end-time">Thời gian xong</p>
        <p class="printer">Máy in</p>
        <p class="page">Số trang</p>
        <p class="size">Cỡ giấy in</p>
        <p class="total">Tổng cộng</p>
      </div>
    </div>
    <div id = "total-by-type">hieuga</div>
  </div>
</div>
