<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="~/User/src/header-footer.css" />
  <link rel="stylesheet" href="~/User/src/global.css" />
  <link rel="stylesheet" href="~/User/src/main-user.css" />
  <link rel="stylesheet" href="~/User/font-awesome\css\font-awesome.min.css" />
</head>

<body>
  <div class="content">
    <div class="action-bar wrapper">
      <div class="btn edit-info">
        <p>Thông tin cá nhân</p>
      </div>
      <div class="btn print-history">
        <p>Lịch sử in ấn</p>
      </div>
      <div class="btn printing">
        <p>In ấn tài liệu</p>
      </div>
      <div class="btn buy-page">
        <p>Mua thêm trang</p>
      </div>
      <div class="btn notification">
        <p>Thông báo</p>
      </div>
    </div>
    <div class="main-image wrapper">
      <img src="~/User/img/logout.svg" alt="" class="main-img" />
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="~/User/context/no-user.js"></script>

</body>

</html>