<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Admin/src/header-footer.css" />
    <link rel="stylesheet" href="/Admin/src/global.css" />
    <link rel="stylesheet" href="/Admin/src/main.css" />
    <link rel="stylesheet" href="/Admin/src/admin-manage-system.css" />
    <link
      rel="stylesheet"
      href="/font-awesome/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="content">
      <div class="information wrapper">
        <div class="user-info">
          <div>
            <img
              src="https://images.unsplash.com/photo-1701207859644-59994f41c62e?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="avatar"
            />
            <div>
              <p class="username">Admin</p>
              <p class="department">Quản trị viên</p>
            </div>
          </div>
        </div>
        <div class="group-btn">
          <button type="button" class="edit-info">
            Chỉnh sửa thông tin cá nhân
          </button>
        </div>
      </div>
      <div class="action-bar wrapper">
        <div class="btn edit-info">
          <p>Thông tin cá nhân</p>
        </div>
        <div class="btn manage-user">
          <p>Quản lí người dùng</p>
        </div>
        <div class="btn manage-printer">
          <p>Quản lí máy in</p>
        </div>
        <div class="btn manage-system">
          <p>Cài đặt hệ thống</p>
        </div>
        <div class="btn notification">
          <p>Thông báo</p>
        </div>
      </div>
    </div>
    <div class="content action">
      <div class="managesystem wrapper">
        <h1>Cài đặt hệ thống</h1>
        <div class="main">
          <div class="detail">
            <form action="" method="post">
              <div>
                <input
                  type="text"
                  name="default-number-page"
                  id="default-number-page"
                />
                <label for="default-number-page">Số trang mặc định</label>
                <span id="edit">Sửa</span>
              </div>
              <div>
                <input
                  type="text"
                  name="time-to-reset"
                  id="default-number-page"
                />
                <label for="default-number-page"
                  >Thời gian reset số trang mặc định</label
                >
                <span id="edit">Sửa</span>
              </div>
              <div>
                <input
                  type="text"
                  name="default-number-page"
                  id="default-number-page"
                />
                <label for="default-number-page">Đơn giá trang thêm</label>
                <span id="edit">Sửa</span>
              </div>
              <div>
                <input
                  type="text"
                  name="default-number-page"
                  id="default-number-page"
                />
                <label for="default-number-page"
                  >Số trang được phép in tối đa/lần</label
                >
                <span id="edit">Sửa</span>
              </div>
              <div>
                <input
                  type="text"
                  name="default-number-page"
                  id="default-number-page"
                />
                <label for="default-number-page"
                  >Các loại file được phép in</label
                >
                <span id="edit">Sửa</span>
              </div>
              <div>
                <input
                  type="text"
                  name="default-number-page"
                  id="default-number-page"
                />
                <label for="default-number-page"
                  >Hình thức khóa tài khoản</label
                >
                <span id="edit">Sửa</span>
              </div>
            </form>
          </div>
          <div class="chart">
            <h2>Thống kê hệ thống</h2>
            <div>
              <span>Tổng số lượt in: 1049s</span> <br />
              <span>Tổng số trang đã in: 20128 </span>
            </div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" id="done">Xong</button>
          <button type="button" id="cancel">Hủy</button>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/Admin/js/main.js"></script>
    <script src="/Admin/js/header-footer.js"></script>
    <script src="/Admin/js/admin-manage-system.js"></script>
    <script src="/Admin/js/href.js"></script>
  </body>
</html>
