@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/Admin/src/header-footer.css" />
  <link rel="stylesheet" href="/Admin/src/global.css" />
  <link rel="stylesheet" href="/Admin/src/main.css" />
  <link rel="stylesheet" href="/Admin/src/admin-manage-printer.css" />
  <link rel="stylesheet" href="/Admin/font-awesome/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/Admin/js/main.js"></script>
  <script src="/Admin/js/header-footer.js"></script>
  <script src="/Admin/js/admin-manage-printer.js"></script>
  <script src="/Admin/js/href.js"></script>
</head>

<body>
  <div class="content">
    <div class="information wrapper">
      <div class="user-info">
        <div>
          <img
            src="https://images.unsplash.com/photo-1701207859644-59994f41c62e?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" class="avatar" />
          <div>
            <p class="username">Admin</p>
            <p class="department">Quản trị viên</p>
          </div>
        </div>
      </div>
      <div class="group-btn">
        <button type="button" class="edit-info">
          Chỉnh sửa thông tin cá nhân
        </button>
      </div>
    </div>
    <div class="action-bar wrapper">
      <div class="btn edit-info">
        <p>Thông tin cá nhân</p>
      </div>
      <div class="btn manage-user">
        <p>Quản lí người dùng</p>
      </div>
      <div class="btn manage-printer">
        <p>Quản lí máy in</p>
      </div>
      <div class="btn manage-system">
        <p>Cài đặt hệ thống</p>
      </div>
      <div class="btn notification">
        <p>Thông báo</p>
      </div>
    </div>
  </div>
  <div class="content action">
    <div class="manageprinter wrapper">
      <h1>Quản lí máy in</h1>
      <div class="main">
        <div class="choose">
          <h1>Chọn máy in</h1>
          <div class="list building-list">
            <div>
              <div class="item building-1">
                <img src="/Admin/img/building.svg" alt="" />
                <span>H1</span>
              </div>
              <div class="item building-2">
                <img src="/Admin/img/building.svg" alt="" />
                <span>H2</span>
              </div>
            </div>
            <div>
              <div class="item building-3">
                <img src="/Admin/img/building.svg" alt="" />
                <span>H3</span>
              </div>
              <div class="item building-6">
                <img src="/Admin/img/building.svg" alt="" />
                <span>H6</span>
              </div>
            </div>
          </div>
          <div class="list printer-list building-1"></div>
          <div class="list printer-list building-2"></div>
          <div class="list printer-list building-3"></div>
          <div class="list printer-list building-6"></div>
          <div class="btn-group">
            <button type="button" class="turnback">Quay lại</button>
          </div>
        </div>
        <div class="property">
          <h1>Thông tin máy in</h1>
          <div class="property-list">
            <div>
              <input type="text" id="printer-name" name="printer-name" />
              <label for="printer-name">Tên máy in</label>
              <span>Sửa</span>
            </div>
            <div>
              <input type="text" id="firm" name="firm" />
              <label for="firm">Hãng</label>
            </div>
            <div>
              <input type="text" id="status" name="status" />
              <label for="status">Trạng thái</label>
            </div>
            <div>
              <input type="text" id="remain-page" name="remain-page" />
              <label for="remain-page">Lượng giấy còn lại</label>
            </div>
            <div>
              <input type="text" id="remain-ink" name="remain-ink" />
              <label for="remain-ink">Lượng mực còn lại</label>
            </div>
            <div>
              <input type="text" id="used-page" name="used-page" />
              <label for="used-page">Số trang đã in</label>
            </div>
            <div>
               <input type="text" id="des" name="des" />
               <label for="des">Mô tả</label>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" id="add">Thêm máy in</button>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" id="done">Xong</button>
        <button type="button" id="cancel">Hủy</button>
        <button type="button" id="btn-change-state">Tắt máy in</button>
      </div>
    </div>
  </div>
</body>

</html>
