<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/UI Temporary/src/header-footer.css" />
    <link rel="stylesheet" href="/UI Temporary/src/global.css" />
    <link rel="stylesheet" href="/UI Temporary/src/main-user.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="/UI Temporary/font-awesome/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="content">
      <div class="information wrapper">
        <div class="user-info">
          <div>
            <img
              src="https://images.unsplash.com/photo-1701207859644-59994f41c62e?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              class="avatar"
            />
            <div>
              <p class="username">Admin</p>
              <p class="department">Quản trị viên</p>
            </div>
          </div>
        </div>
        <div class="group-btn">
          <button type="button" class="edit-info">
            Chỉnh sửa thông tin cá nhân
          </button>
        </div>
      </div>
      <div class="action-bar wrapper">
        <div class="btn edit-info">
          <p>Thông tin cá nhân</p>
        </div>
        <div class="btn manage-user">
          <p>Quản lí người dùng</p>
        </div>
        <div class="btn manage-printer">
          <p>Quản lí máy in</p>
        </div>
        <div class="btn manage-system">
          <p>Cài đặt hệ thống</p>
        </div>
        <div class="btn notification">
          <p>Thông báo</p>
        </div>
      </div>
    </div>
    <div class="content action">
      <div class="managesystem wrapper disabled">
        <h1>Thông báo</h1>
        <div class="main">
          <form action="" method="get">
            <div>
              <input type="text" name="title" id="title">
              <label for="title">Tiêu đề thông báo</label>
            </div>
            <div>
              <textarea name="title-content" id="title-content" cols="100" rows="20"></textarea>
              <label for="title-content">Nội dung thông báo</label>
            </div>
          </form>
        </div>
        <div class="btn-group">
          <button type="button" id="confirm-send">Gửi thông báo</button>
          <button type="button" id="cancel">Hủy</button>
        </div>
      </div>
      <div class="managesystem wrapper">
        <h1>Thông báo</h1>
        <div class="main">
          <div class="field">
            <p>Nội dung thông báo</p>
            <p>Thời gian</p>
          </div>
          <div class="result">
            <p>Thông báo thời gian reset số trang mặc định</p>
            <p>10:42 - 1/11/2023 (0 phút trước)</p>

            <p>Thông báo về việc hỏng máy (H2 - 205)</p>
            <p>10:40 - 1/11/2023 (2 phút trước)</p>

            <p>Thêm giấy (H6 - 107)</p>
            <p>9:24 - 31/10/2023 (1 ngày trước)</p>

            <p>Thông báo việc thêm máy mới (H3 - 101)</p>
            <p>8:23 - 30/10/2023 (2 ngày trước)</p>

            <p>Thông báo bảo trì</p>
            <p>7:12 - 30/10/2023 (2 ngày trước)</p>

            <p>Thêm giấy (H3 - 101)</p>
            <p>8:13 - 28/10/2023 (4 ngày trước)</p>

            <p>Thêm giấy (H6 - 107)</p>
            <p>9:41 - 26/10/2023 (6 ngày trước)</p>

            <p>Thông báo về bản cập nhật mới của hệ thống</p>
            <p>10:12 - 19/10/2022 (13 ngày trước)</p>

            <p>“Task 1.3” đã được in xong (H3 - 101)</p>
            <p>9:33 - 18/10/2023 (14 ngày trước)</p>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" id="start-send">Gửi thông báo</button>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/UI Temporary/admin/js/main.js"></script>
    <script src="/UI Temporary/admin/js/header-footer.js"></script>
    <script src="./script.js"></script>
    <script src="/UI Temporary/admin/js/href.js"></script>
  </body>
</html>
